<!DOCTYPE html>
<html>
  <head>
    <title>Bookers1-debug</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <div id="sp-menu">
      <ul>
        <li>
          <a href="destroy_user_session"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></a>
        </li>
        <li>
          <a href="new_user_registration"><%= link_to "新規登録", new_user_registration_path %></a>
        </li>
        <li>
          <a href="new_user_session"><%= link_to "ログイン", new_user_session_path %></a>
        </li>
      </ul>
    </div>

    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
    <% end %>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
